<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="win81" />
  <package id="BingMapJS" version="1.1.0" targetFramework="win81" />
  <package id="BingMapsIntellisense_6" version="6.3.81310.1036" targetFramework="win81" />
  <package id="GoogleMapsApi" version="0.30.0.0" targetFramework="win81" />
  <package id="Modernizr" version="2.7.1" targetFramework="win81" />
</packages>